<head>
  <title>{{title}}</title>
<link rel="shortcut icon" href="/static/logo.svg">
<link rel="stylesheet" href="/static/style.css">
<style>
body {background-image: url("/static/background.jpg");}
</style>
</head>
<body>
  <h1>{title}<br>Identify!</h1>
            <center>
            <div class="form">
            <form class="login" action="/login" method="post">
            <label for="name">Name:</label><br>
            <input name="name" id="name" type="text" /><br>
            <label for="password">Password:</label><br>
            <input name="password" id="password" type="password" /><br>
            <input value="Login" type="submit" />
            </div>
            </center>
</form></body>

