<head>
</style>
</head>
<title>{{title}}</title>
<link rel="shortcut icon" href="/static/logo.svg">
<link rel="stylesheet" href="/static/style.css">
<body>
  <h1>{{title}}<br>
    <a href="javascript:window.history.back();">&#8610</a>
    Metadata: {{metadata.get("id")}}</h1>
<div class="form" width=80% height=80%>
  <br><img src={{frontend.get("url")}} style="margin:auto;max-width:25%;max-height:25%;"><br>
<form accept-charset="UTF-8" class="metadata" action="/metadata?id={{metadata.get('id')}}" method="post">
<table>
  {% for key, value in metadata.items() %}
  {%  if key in ["id", "key"] %}
  <tr><th><label for="{{key}}">{{key}}</label></th>
  <th>{{value}}</th></tr>
  {%  else %}
  <tr><th><label for="{{key}}">{{key}}</label></th>
  <th> <input name="{{key}}" id="{{key}}" type="text" value="{{value}}"></input></th></tr>
  {% endif %}
  {% endfor %}
</table>
<br>
<input value="update metadata" type="submit" />
</form>
</div>
</body>
