<head>
</style>
</head>
<title>{{title}}</title>
<link rel="shortcut icon" href="/static/logo.svg">
<link rel="stylesheet" href="/static/style.css">
<body>
  <h1>{{title}}<br>
    <a href="javascript:window.history.back();">&#8610</a>
    Metadata: {{metadata.get("id")}}</h1>
<div class="form" width=80% height=80%>
  <br><img src={{frontend.get("url")}} style="margin:auto;max-width:25%;max-height:25%;"><br> 
  <center><table>
  {% for key, value in metadata.items() %}
  <tr><th>{{key}}</th><th>{{value}}</th></tr>
  {% endfor %}
    </table></center>
</div>
</body>
